<!-- SOAL 2 -->

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a }}</h1>
    <h1>{{ 'Rata rata : ' + average }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        frekuensi : 0
        
      },
      computed : {
        average : {
          get() {
            return this.a / this.frekuensi
        },
          
        }
      },
      
      methods : {
          openForm : function(){
              this.a = prompt("Masukan nilai a")
          },
        //   openForm : function(){
        //       counter = 0,
        //     //   while( counter < 10){
        //     //       console.log(counter),
        //     //       counter++,
        //     //       console.log(openForm)
        //     //   }
        //   },
          increment(){
              this.counter++
          }
          
      }
  })
  </script>
</body>
</html>