<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="bookFilter" placeholder="">
            <form>
                <input type="text" value="bookFilter">
            </form>
        </div>

        <div class="bookList">
            <ul v-for="(books , index) in books">
                <li :key="index">
                    ({ books })
                </li>
            </ul>
        </div>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                // books: src=".../filter.html"
            }
        })
    </script>
    
</body>
</html>