<!-- QUIZ 5 -->

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

      <div id="input-list">
        <form v-on:submit.prevent="addNewInput">
          <input
            v-model="input"
            id="new-todo"
          >
          <button>Add</button>
        </form>
        <ul>
          <li
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1) + say"
            v-on:edit="todos.addNewInput"
          ></li>
        </ul>
      </div>
    
    
   
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'edit\')">Edit</button>\
      \||\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
      </li>\
  ',
  props: ['title']
})

new Vue({
  el: '#input-list',
  data: {
    input: '',
    todos: [
      {
        id: 1,
        title: 'Do the dishes',
      },
      {
        id: 2,
        title: 'Take out the trash',
      },
      {
        id: 3,
        title: 'Mow the lawn'
      }
    ],
    nextInput: 4
  },
  methods: {
    addNewInput: function () {
      this.todos.push({
        id: this.nextInput++,
        title: this.input
      })
      this.input = ''
    },

    remove: function () {
      alert("Anda Yakin?")
    },



  }
})
  </script>
</body>
</html>