<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>App 1</h1>
        <component-a></component-a>
        <component></component>
        {{ message }}

    </div>
   
    <template id="component">
        <h1>{{ pesan }}</h1>
    </template>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
    <script>

        var ComponentA = {
            template : '<p> {{ pesan }} </p>',
            data(){
                return {
                    pesan : 'this is Component A'
                }
            }
        }

        Vue.component('Component' , {
            template : '#component',
            data(){
                return {
                    pesan : 'this is Component A'
                }
            }
        })  

        var vm = new Vue({
            el: '#app',
            components : {
                'component-a' : ComponentA
            },
            data : {
                'message' : 'message 1'
            }
        })

        
    </script>

</body>
</html>