<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <blog-component 
            v-for="blog in blogs" 
            :blog="blog">
        </blog-component>
    


    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script>

        var BlogComponent = {
            template : `
                <div>
                    <h1>{{ blog.title }}</h1>
                    <p>{{ blog.content }}</p>
                </div>
            `,
            data(){
                return {
                    pesan : 'this is Blog Component'
                }
            },
            props : ['blog']
        }

        const vm = new Vue({
            el: '#app',
            components : {
                'blog-component' : BlogComponent
            },
            data: {
                blogs : [
                    {
                        title : 'ini vue1',
                        content : 'terdapat komponen1'
                    },
                    {
                        title : 'ini vue2',
                        content : 'terdapat komponen2'
                    },
                    {
                        title : 'ini vue3',
                        content : 'terdapat komponen3'
                    }
                ]
            }
            
            
        })

        
    </script>

</body>
</html>