<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <blog-component>

            <template v-slot:title="propsSlot">
                {{ propsSlot.blogs[0].title }}
            </template>

            <template v-slot:description="propsSlot">
                {{ propsSlot.blogs[0].description }}
            </template>

        </blog-component>
    

    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script>

        var BlogComponent = {
            
            template : `
                <div>
                    <b>title</b> : <slot name="title" v-bind:blogs="blogs">{{ blogs[2].title }}</slot>
                    <br>
                    <b>description</b> : <slot name="description" v-bind:blogs="blogs">{{ blogs[2].description }}</slot>
                </div>
            `,
            data(){
                return {
                    blogs : [
                        {
                            title : 'first title',
                            description : 'first description'
                        },
                        {
                            title : 'second title',
                            description : 'second description'
                        },
                        {
                            title : 'third title',
                            description : 'third description'
                        }
                    ]
                }
            }
        }

        const vm = new Vue({
            el: '#app',
            components : {
                'blog-component' : BlogComponent
            },
            
            
            
        })

        
    </script>

</body>
</html>